.search-results {
  margin-top: 40px;
  height: calc(100vh - 350px);
  overflow-y: auto;
}

.search-results ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-results li {
  width: 25%;
  position: relative;
}

.search-results li:before {
  /* handle 1:1 ratio */
  content: '';
  display: block;
  padding-top: 100%;
}
